body{
  margin: 0;
  padding: 0;

}
.wrapper {
  margin: 0;
  color: #2416AF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  & .title{
    text-align: center;
  }
}

.main{
  &__buttons-wrapper{
    display: flex;
    width:100%;
    justify-content: space-evenly;
  }
  &__input-wrapper{
       display: flex;
       justify-content: center;
     }
  &__result{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}
.wrapper-button{
  display: flex;
  justify-content: space-evenly;
}
.custom-input{
  padding: 7px;
  border:none;
  opacity: 0.7;
  outline: none;
  border-bottom: 2px solid #3399ff;
  transition-duration: 0.8s;
  margin-right: 5px;
  background:#3DD9F7;
  &:focus {
    background-color: #F8990D;
    color: white;
    border-bottom: 2px solid #9900cc;
  }
}
.custom-button{
  padding: 10px;
  background-color: #fff;
  color: #2416AF;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}
