.input-box__input__padding {
  padding: 20px;
  text-align: center;
}

.input-box__input__position {
  display: flex;
  justify-content: center;
}

label {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.input-box__margin {
  margin: 10px 10px 0 10px;
}

.input-box__switcher {
  margin: 10px 0 0 0;
}

.settings-modal.active {
  display: flex;
}

.settings-modal {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(233, 235, 238, 0.8);
}

.select-language {
  margin: 0 auto;
  padding: 100px 0 0 0;
}

.wrapper-main {
  position: relative;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: 100vh;
}

.wrapper_rtl {
  direction: rtl;
}

.wrapper_ltr {
  direction: ltr;
}

.wrapper-blur {
  filter: blur(5px);
}

h1 {
  text-align: center;
}

#selectFrom option:checked {
  display: none;
}

#selectTo option:checked {
  display: none;
}

#selectLanguage option:checked {
  display: none;
}

#btn-close-modal {
  cursor: pointer;
  background-image: url("img/close-button-png.png");
  background-size: cover;
  width: 40px;
  height: 40px;
}
button{
  background: none;
  border: none;
}

.btn-settings {
    background-image: url("img/gear.svg");
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#convert{
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  border-radius: 20px;
}





