.input-box__position{
    display: flex;
    justify-content: center;
}
.input-box__input__style{
    border-radius: 10px;
    background: aquamarine;
    text-align: center;
    padding: 20px;
    margin: 20px 20px 0 0;
}
.input-box__input__style::-webkit-input-placeholder {
    color: red;
}
.buttons-box__style{

}
.input-box__input__disable{
    pointer-events:none;
    color:black;
    background:#F5F5F5;
}
.input-box__input__disable.active{
    pointer-events:visible;
    background: aquamarine;
    color: black;
}






